@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.navbar-collapse {
  justify-content: flex-end; }

.separadorHero {
  width: 100%;
  height: 35px;
  background: linear-gradient(90deg, #009bdb 0%, #00658e 97.71%); }

.nosotros {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 1rem; }
  .nosotros article,
  .nosotros article:nth-of-type(1) {
    width: 50%;
    height: auto; }
    .nosotros article img,
    .nosotros article:nth-of-type(1) img {
      width: 100%;
      border-radius: 2rem; }
  .nosotros article:nth-of-type(2) {
    width: 50%; }
  .nosotros__texto {
    display: flex;
    flex-direction: column;
    padding-top: 2rem; }
    .nosotros__texto--right {
      float: right;
      background-color: transparent;
      border: none;
      font-weight: bold; }
      .nosotros__texto--right .conozca-mas {
        color: black; }
        .nosotros__texto--right .conozca-mas:hover {
          text-decoration: none; }
    .nosotros__texto ul {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 3rem;
      text-decoration: none;
      list-style-type: none; }
  .nosotros__iconos {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    text-align: center;
    color: #0667ae; }
    .nosotros__iconos img {
      height: auto;
      width: 90px; }

/* SERVICIOS */
.servicios {
  height: 360px;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly; }
  .servicios__card {
    width: 30%; }
  .servicios--right {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    font-weight: bold; }
  .servicios__title {
    font-weight: bold;
    color: black; }
  .servicios__img1 {
    height: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../img/Servicios1.png"); }
  .servicios__img2 {
    height: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../img/Servicios2.png"); }
  .servicios__img3 {
    height: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../img/Servicios3.png"); }
  .servicios__text1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    background-color: #056897;
    background-image: url("../img/Rectangle1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .servicios__text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    background-color: #89055d;
    background-image: url("../img/Rectangle2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .servicios__text3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    background-color: #c5b905;
    background-image: url("../img/Rectangle3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

/*SECCIÓN NOSOTROS*/
.team {
  max-width: 1080px;
  margin: 100px auto 50px; }

.team-title {
  margin-bottom: 5rem; }

.team-text {
  font-size: 1.2em; }

.blue-text {
  color: #0667ae;
  font-weight: bold; }

.bold-text {
  font-weight: bold; }

.team-members {
  display: flex;
  justify-content: space-evenly; }

.member {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* SECCIÓN CONTACTO */
.contacto {
  max-width: 1080px;
  margin: 10rem auto 10rem;
  display: flex;
  justify-content: space-between; }
  .contacto h2 {
    font-weight: bold; }
  .contacto__formulario {
    width: 40%; }
    .contacto__formulario .formulario {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 90%; }
      .contacto__formulario .formulario input {
        border-color: #0667ae; }
      .contacto__formulario .formulario .contenedor-inputs {
        display: flex;
        justify-content: space-between;
        gap: 10px; }
        .contacto__formulario .formulario .contenedor-inputs input {
          width: 50%; }
      .contacto__formulario .formulario .btn {
        width: 80px;
        align-self: flex-end;
        background-color: #0667ae; }
      .contacto__formulario .formulario textarea {
        resize: none;
        border-color: #0667ae; }
  .contacto__datos {
    width: 40%; }
    .contacto__datos .contacto__separador {
      border: 2px solid #0667ae; }
    .contacto__datos p {
      width: 70%; }
    .contacto__datos .redes {
      gap: 10px;
      display: flex;
      padding-left: 0; }
      .contacto__datos .redes .fa-brands {
        font-size: 2rem;
        color: #0667ae; }

/* SECCION FOOTER */
footer {
  background-color: #0667ae;
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 40px;
  padding: 2rem; }
  footer .footer-map {
    display: flex;
    justify-content: space-between;
    width: 60%; }
    footer .footer-map .footer-brand {
      width: 200px;
      height: 80px; }
    footer .footer-map .footer-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      footer .footer-map .footer-links li a {
        color: white; }
  footer .footer-redes {
    display: flex; }
    footer .footer-redes ul {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 40%;
      gap: 20px; }
    footer .footer-redes .fa-brands {
      font-size: 2rem;
      color: white; }

/* SECCION CLIENTES */
.clientes {
  max-width: 1080px;
  margin: 0 auto 50px; }

.clientes__titulo {
  margin-bottom: 60px; }
  .clientes__titulo h2 {
    font-weight: bold; }

/* MODAL */
.modal-container {
  display: flex;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease; }

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  color: white;
  max-width: 35rem;
  max-height: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 40px; }

.show {
  pointer-events: auto;
  opacity: 1; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(108%); }

.nombre-producto {
  color: black;
  text-align: center; }

.button-close {
  background-color: transparent;
  border: none;
  width: max-content;
  align-self: flex-end; }

.fa-solid {
  font-size: 20px; }
