*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nosotros {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 1rem; }
  .nosotros article,
  .nosotros article:nth-of-type(1) {
    width: 50%;
    height: auto; }
    .nosotros article img,
    .nosotros article:nth-of-type(1) img {
      width: 100%;
      border-radius: 2rem; }
  .nosotros article:nth-of-type(2) {
    width: 50%; }
  .nosotros__texto {
    display: flex;
    flex-direction: column;
    padding-top: 2rem; }
    .nosotros__texto--right {
      float: right; }
    .nosotros__texto ul {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 3rem;
      text-decoration: none;
      list-style-type: none; }
  .nosotros__iconos {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    text-align: center;
    color: #0667ae; }
    .nosotros__iconos img {
      height: auto;
      width: 90px; }

@media screen and (max-width: 992px) {
  .nosotros p {
    font-size: 16px; }
  .nosotros article:nth-of-type(1) {
    width: 70%; }
  .nosotros__iconos {
    height: auto; }
    .nosotros__iconos img {
      height: 60px;
      width: auto; }
  __texto ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    list-style-type: none; } }

@media screen and (max-width: 900px) {
  .nosotros p {
    font-size: 0.8rem; } }

@media screen and (max-width: 768px) {
  .nosotros p {
    font-size: 0.6rem; } }

@media screen and (max-width: 700px) {
  .nosotros {
    padding: 1rem;
    flex-direction: column; }
    .nosotros p {
      font-size: 1rem; }
    .nosotros article {
      width: 100% !important; } }

@media screen and (max-width: 576px) {
  .nosotros__iconos {
    height: auto; }
    .nosotros__iconos img {
      height: 30%;
      width: auto; } }

.servicios {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch; }
  .servicios__card {
    width: 30%;
    height: 500px; }
  .servicios--right {
    align-self: flex-end; }
  .servicios__img1 {
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../img/Servicios1.png"); }
  .servicios__img2 {
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../img/Servicios2.png"); }
  .servicios__img3 {
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../img/Servicios3.png"); }
  .servicios__text1 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    background-color: #056897;
    background-image: url("../img/Rectangle1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .servicios__text2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    background-color: #89055d;
    background-image: url("../img/Rectangle2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
  .servicios__text3 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    background-color: #c5b905;
    background-image: url("../img/Rectangle3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

@media screen and (max-width: 992px) {
  .servicios h2 {
    font-size: 1.5rem; }
  .servicios__card {
    height: 400px; } }

@media screen and (max-width: 900px) {
  .servicios p {
    font-size: 0.8rem; } }

@media screen and (max-width: 768px) {
  .servicios h2 {
    font-size: 1.3rem; }
  .servicios p {
    font-size: 0.8rem; } }

@media screen and (max-width: 700px) {
  .servicios h2 {
    font-size: 1rem; }
  .servicios p {
    font-size: 0.8rem; } }

@media screen and (max-width: 576px) {
  .servicios {
    flex-direction: column;
    gap: 1rem;
    align-items: center; }
    .servicios__card {
      height: 300px;
      width: 60%; }
    .servicios__descripcion {
      display: none; }
    .servicios__text__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between; } }

.contacto {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px; }
  .contacto h2 {
    font-weight: bold; }
  .contacto__formulario {
    width: 40%; }
    .contacto__formulario .formulario {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 90%; }
      .contacto__formulario .formulario input {
        border-color: #0667ae; }
      .contacto__formulario .formulario .contenedor-inputs {
        display: flex;
        justify-content: space-between;
        gap: 10px; }
        .contacto__formulario .formulario .contenedor-inputs input {
          width: 50%; }
      .contacto__formulario .formulario .btn {
        width: 80px;
        align-self: flex-end;
        background-color: #0667ae; }
      .contacto__formulario .formulario textarea {
        resize: none;
        border-color: #0667ae; }
  .contacto__datos {
    width: 30%; }
    .contacto__datos .contacto__separador {
      background: #0683b7;
      height: 2px;
      width: 100%; }
    .contacto__datos p {
      width: 70%; }
    .contacto__datos .redes {
      gap: 10px;
      display: flex;
      padding-left: 0; }
      .contacto__datos .redes .fa-brands {
        font-size: 2rem;
        color: #0667ae; }

@media screen and (max-width: 576px) {
  .contacto {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contacto__formulario {
      width: 80%; }
      .contacto__formulario .formulario {
        gap: 1rem; }
    .contacto__datos {
      margin-top: 1rem;
      display: flex;
      width: 90%; }
      .contacto__datos .redes {
        display: none; }
      .contacto__datos p {
        width: 100%; }
      .contacto__datos h2 {
        font-size: 1.5rem; }
      .contacto__datos .contacto__separador {
        height: 100px;
        width: 2px;
        margin: 0 1px; } }

@media screen and (max-width: 500px) {
  .contacto__datos {
    display: flex;
    flex-direction: column;
    width: 90%; }
    .contacto__datos .contacto__separador {
      height: 2px;
      width: 100%; } }

/* SECCION FOOTER */
footer {
  background-color: #0667ae;
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 40px;
  padding: 2rem; }
  footer .footer-map {
    display: flex;
    justify-content: space-between; }
    footer .footer-map .footer-brand {
      width: 200px;
      height: 80px; }
    footer .footer-map .footer-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      footer .footer-map .footer-links li a {
        color: white; }
  footer .footer-redes {
    display: flex; }
    footer .footer-redes ul {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 40%;
      gap: 20px; }
    footer .footer-redes .fa-brands {
      font-size: 2rem;
      color: white; }

@media screen and (max-width: 576px) {
  .mobile-none {
    display: none; }
  footer {
    align-items: center;
    height: auto;
    gap: 1rem; }
    footer .footer-map .footer-brand {
      width: auto;
      height: 40px; } }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.navbar-collapse {
  justify-content: flex-end; }

.separadorHero {
  width: 100%;
  height: 1rem;
  background: linear-gradient(90deg, #009bdb 0%, #00658e 97.71%); }

@media screen and (max-width: 576px) {
  .navbar-brand img {
    height: 50px; } }

/* SECCION CLIENTES */
.clientes {
  margin-top: 50px;
  margin-bottom: 50px; }

.clientes__titulo {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px; }
  .clientes__titulo h2 {
    font-weight: bold; }
