$principal-color: #0667ae;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './views/nosotros.scss';
@import './views/servicios.scss';
@import './views/contacto.scss';
@import './views/footer.scss';

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.hero__whatsapp {
  display: block;
  position: fixed;
  height: auto;
  width: 15%;
  right: 4rem;
  bottom: 2rem;
}

.hero__whatsapp img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .hero__whatsapp {
    right: 2rem;
    bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .hero__whatsapp {
    width: 25%;
  }
}

.separadorHero {
  width: 100%;
  height: 1rem;
  background: linear-gradient(90deg, #009bdb 0%, #00658e 97.71%);
}

@media screen and (max-width: 576px) {
  .navbar-brand img {
    height: 50px;
  }
}

/* SECCION CLIENTES */
.clientes {
  margin-top: 50px;
  margin-bottom: 50px;
}
.clientes__titulo {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 60px;
  h2 {
    font-weight: bold;
  }
}

.clientes .carousel-item img {
  width: 40% !important;
}

@media screen and (max-width: 576px) {
  .clientes .carousel-inner {
    height: 150px;
  }
}

/* MODAL */
.modal-container {
  display: flex;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  color: white;
  max-width: 35rem;
  max-height: 100rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 40px;
}
.show {
  pointer-events: auto;
  opacity: 1;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(108%);
}
.nombre-producto {
  color: black;
  text-align: center;
}
.button-close {
  background-color: transparent;
  border: none;
  width: max-content;
  align-self: flex-end;
}
.fa-solid {
  font-size: 20px;
}

.team {
  padding: 1rem;
}
