$principal-color: #0667ae;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './views/nosotros.scss';
@import './views/servicios.scss';
@import './views/contacto.scss';
@import './views/footer.scss';

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.separadorHero {
  width: 100%;
  height: 1rem;
  background: linear-gradient(90deg, #009bdb 0%, #00658e 97.71%);
}

@media screen and (max-width: 576px) {
  .navbar-brand img {
    height: 50px;
  }
}

/* SECCION CLIENTES */
.clientes {
  margin-top: 50px;
  margin-bottom: 50px;
}
.clientes__titulo {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 60px;
  h2 {
    font-weight: bold;
  }
}
