$principal-color: #0667ae;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.separadorHero {
  width: 100%;
  height: 35px;
  background: linear-gradient(90deg, #009bdb 0%, #00658e 97.71%);
}

.nosotros {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 1rem;

  & article,
  & article:nth-of-type(1) {
    width: 50%;
    height: auto;

    & img {
      width: 100%;
    }
  }

  & article:nth-of-type(2) {
    width: 50%;
  }

  &__texto {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    &--right {
      float: right;
    }

    & ul {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 3rem;
      text-decoration: none;
      list-style-type: none;
    }
  }

  &__iconos {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    text-align: center;
    color: $principal-color;
    & img {
      height: auto;
      width: 90px;
    }
  }
}

/* SECCIÓN CONTACTO */

.contacto {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;

  h2 {
    font-weight: bold;
  }

  &__formulario {
    width: 40%;

    .formulario {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 90%;

      input {
        border-color: $principal-color;
      }

      .contenedor-inputs {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        input {
          width: 50%;
        }
      }

      .btn {
        width: 80px;
        align-self: flex-end;
        background-color: $principal-color;
      }

      textarea {
        resize: none;
        border-color: $principal-color;
      }
    }
  }

  &__datos {
    width: 30%;

    .contacto__separador {
      border: 2px solid $principal-color;
    }

    p {
      width: 70%;
    }

    .redes {
      gap: 10px;
      display: flex;
      padding-left: 0;

      .fa-brands {
        font-size: 2rem;
        color: $principal-color;
      }
    }
  }
}

/* SECCION FOOTER */
footer {
  background-color: $principal-color;
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 40px;
  padding: 2rem;

  .footer-map {
    display: flex;
    justify-content: space-between;
    width: 60%;

    .footer-brand {
      width: 200px;
      height: 80px;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li a {
        color: white;
      }
    }
  }
  .footer-redes {
    display: flex;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 40%;
      gap: 20px;
    }
    .fa-brands {
      font-size: 2rem;
      color: white;
    }
  }
}

/* SECCION CLIENTES */
.clientes {
  margin-top: 50px;
  margin-bottom: 50px;
}
.clientes__titulo {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 60px;
  h2 {
    font-weight: bold;
  }
}
